<style>
  html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #inventory {
    position: absolute;
    z-index: 42;
    left: 30px;
    bottom: 30px;
  }

  .inventory-item {
    display: inline-block;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    width: 90px;
  }

  .inventory-picture {
    height: 64px;
    width: 64px;
  }

  .info-menu {
    margin-right: 10px;
  }

  #canvas-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
    margin: 0;
    padding: 0;
  }

  #cursor {
    position: absolute;
    z-index: 42;
  }
</style>
