html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#renderCanvas {
	width: 100%;
	height: 100%;
	touch-action: none;
	margin: 0;
	padding: 0;
}

#cursor {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
}

#fps-info {
	position: fixed;
	top: 10px;
	right: 10px;
	width: 100px;
	font-size: 20px;
	color: red;
	text-align: right;
	font-family: monospace;
	z-index: 1;
}

#meshes-info {
	position: fixed;
	top: 35px;
	right: 10px;
	width: 250px;
	font-size: 16px;
	color: red;
	text-align: right;
	font-family: monospace;
	z-index: 1;
}