html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#renderCanvas {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#cursor {
	position: absolute;
	z-index: 1;
	top: 49.2%;
	left: 49.6%;
}

#plane-cursor {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
}

#fps-info {
	position: fixed;
	top: 10px;
	right: 10px;
	width: 100px;
	font-size: 20px;
	color: red;
	text-align: right;
	font-family: monospace;
	z-index: 1;
}

#meshes-info {
	position: fixed;
	top: 35px;
	right: 10px;
	width: 450px;
	padding: 10px;
	font-size: 16px;
	color: #00FF00;
	text-align: right;
	font-family: monospace;
	z-index: 1;
	background-color: rgba(0, 0, 0, 50%);
}

debug-display-frame-value {
	display: block;
	width: 400px;
	margin-left: auto;
	margin-bottom: 5px;
}

debug-display-color-input {
	display: block;
	width: 400px;
	margin-left: auto;
	margin-bottom: 5px;
}

debug-display-vector3-value {
	display: block;
	width: 400px;
	margin-left: auto;
	margin-bottom: 5px;
}

debug-display-text-value {
	display: block;
	width: 400px;
	margin-left: auto;
	margin-bottom: 5px;
}

.debug.hidden {
	display: none;
}