@font-face {
    font-family: 'XoloniumBold';
    src: url('../fonts/Xolonium-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'XoloniumRegular';
    src: url('../fonts/Xolonium-Regular.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

html, body {
    overflow: hidden;
    width: 100%;
	height: 100%;
    margin: 0;
    padding: 0;
	background-color: rgb(0, 0, 0);
	touch-action: none;
}

#renderCanvas {
	position: fixed;
	width: 100%;
    height: min(140vw, 100%);
	margin: 0;
	padding: 0;
}

#subtitles-container {
	position: fixed;
	left: 20%;
	max-width: 60%;
	bottom: 40px;
    height: auto;
	margin: 0;
	padding: 10px;
	font-size: 35px;
	line-height: 120%;
	color: white;
    font-family: 'XoloniumRegular';
	background-color: rgba(127, 127, 127, 50%);
}

#subtitles-container img {
	width: 40px;
	vertical-align: text-top;
}

#subtitles-container span {
	display: inline-block;
	line-height: 135%;
	height: 35px;
	min-width: 19px;
	font-family: 'XoloniumBold';
	text-align: center;
	font-size: 25px;
	padding-left: 8px;
	padding-right: 8px;
	color: black;
}

#subtitles-container span.keyboard {
	background-color: rgb(180, 180, 180);
	border: 4px solid black;
	border-radius: 8px;
}

#subtitles-container span.joystick {
	outline: 2px solid rgb(127, 127, 127);
	border: 4px solid rgb(127, 127, 127);
	margin-left: 4px;
	margin-right: 4px;
	background-color: white;
	border-radius: 35px;
}

#subtitles-container span.pad {
	border: 4px solid black;
	border-radius: 35px;
	-webkit-text-stroke: 2px black;
}

#subtitles-container .pad.green {
	background-color: #7fba00;
}

#subtitles-container .pad.red {
	background-color: #f25022;
}

#subtitles-container .pad.blue {
	background-color: #00a4ef;
}

#subtitles-container .pad.yellow {
	background-color: #ffb900;
}

#loading {
	position: fixed;
	width: 100%;
    height: min(140vw, 100%);
	font-family: "XoloniumRegular";
	background-color: rgba(0, 0, 0, 75%);
	z-index: 1;
	pointer-events: none;
}

#loading div {
	position: absolute;
	bottom: 100px;
	left: 100px;
	font-size: 80px;
	color: #35b4d4;
	-webkit-text-stroke: black;
	-webkit-text-stroke-width: 3px;
}

#loading div.small {
	position: absolute;
	bottom: 100px;
	left: 100px;
	padding: 10px;
	width: 350px;
	font-size: 50px;
	color: #35b4d4;
	-webkit-text-stroke: black;
	-webkit-text-stroke-width: 2px;
	background-color: rgba(0, 0, 0, 50%);
}

#cursor {
	position: absolute;
	z-index: 1;
	top: 49.2%;
	left: 49.6%;
}

#sky-view {
	position: absolute;
	display: flex;
	bottom: 10px;
	width: min(30%, 300px);
	height: min(10%, 150px);
	right: 10px;
	font-size: 40px;
	background-color: rgba(0, 0, 0, 50%);
	z-index: 1;
	justify-content: center;
	align-items: center;
	outline: 2px solid white;
	cursor: pointer;
}

#sky-view-text {
	color: white;
	font-family: "Consolas";
	height: 50px;
	pointer-events: none;
	-webkit-user-select: none;
	user-select: none;
}

#ground-view {
	position: absolute;
	display: flex;
	flex-direction: column;
	bottom: 10px;
	width: min(30%, 300px);
	height: min(10%, 150px);
	right: 10px;
	background-color: rgba(0, 0, 0, 50%);
	z-index: 1;
	justify-content: center;
	align-items: center;
	outline: 2px solid white;
	cursor: pointer;
}

.ground-view-text {
	color: white;
	font-family: "Consolas";
	height: 30px;
	font-size: 20px;
	pointer-events: none;
	-webkit-user-select: none;
	user-select: none;
}

#plane-cursor {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
}

#fps-info {
	position: fixed;
	top: 10px;
	right: 10px;
	width: 100px;
	font-size: 20px;
	color: red;
	text-align: right;
	font-family: monospace;
	z-index: 1;
}

#debug-container {
	position: fixed;
	top: 35px;
	right: 10px;
	width: 450px;
	padding: 10px;
	font-size: 16px;
	color: #00FF00;
	text-align: right;
	font-family: monospace;
	z-index: 1;
	background-color: rgba(0, 0, 0, 50%);
	pointer-events: none;
}

debug-display-frame-value {
	display: block;
	width: 400px;
	margin-left: auto;
	margin-bottom: 5px;
}

debug-display-color-input {
	display: block;
	width: 400px;
	margin-left: auto;
	margin-bottom: 5px;
}

debug-display-vector3-value {
	display: block;
	width: 400px;
	margin-left: auto;
	margin-bottom: 5px;
}

debug-display-text-value {
	display: block;
	width: 400px;
	margin-left: auto;
	margin-bottom: 5px;
}

.debug.hidden {
	display: none;
}

button {
	width: 20%;
	height: 7%;
	font-size: 40px;
	font-family: XoloniumRegular;
	background-color: black;
	color: white;
	user-select: none;
}

#touch-menu {
	position: fixed;
	bottom: 250px;
	left: 40%;
	display: none;
}

#touch-jump {
	position: fixed;
	bottom: 50px;
	left: 40%;
	display: none;
}